html {
	--fs-1: 1rem;
	--fs-2: 1.25rem;
	--fs-3: 2rem;

	--color-success: hsl(150deg 70% 30%);
	--color-warning: hsl(50deg 100% 30%);
	--color-error: hsl(0deg 70% 45%);
	--color-gray-100: hsl(0deg 0% 10%);
	--color-gray-300: hsl(0deg 0% 25%);
	--color-gray-500: hsl(0deg 0% 50%);
	--color-gray-700: hsl(0deg 0% 75%);
	--color-gray-900: hsl(0deg 0% 90%);
}

body {
	font-family: sans-serif;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	text-align: left;
	color: inherit;
}

header {
	display: flex;
	justify-content: center;
	padding-block: 1rem;
	border-bottom: 1px solid var(--color-gray-700);
	color: var(--color-gray-300);
}

h1 {
	font-size: var(--fs-3);
	line-height: 1.2;
	text-align: center;
}

.game-wrapper {
	width: min(100%, 120ch);
	padding: 2rem;
	margin-inline: auto;
}

main {
	display: flex;
	align-items: flex-start;
	gap: 4vw;
}

@media (max-width: 60em) {
	:root {
		--fs-1: 1rem;
		--fs-2: 1rem;
		--fs-3: 1.75rem;
	}
	.game-wrapper {
		width: min(100%, 60ch);
		padding: 1rem 2rem;
	}
	main {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}

.guess-results {
	--gap: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--gap);
}

.guess-results,
.form-container {
	width: 100%;
}

.form-container {
	display: grid;
	gap: 1rem;
}

.guess {
	display: flex;
	gap: var(--gap);
}

.cell {
	display: grid;
	place-content: center;

	width: 20%;
	aspect-ratio: 1 / 1;
	border: 2px solid var(--color-gray-700);
	border-radius: var(--radius);

	font-size: var(--fs-3);
}

.guess:first-of-type .cell:first-of-type {
	--radius: 4px 0px 0px 0px;
}
.guess:first-of-type .cell:last-of-type {
	--radius: 0px 4px 0px 0px;
}
.guess:last-of-type .cell:last-of-type {
	--radius: 0px 0px 4px 0px;
}
.guess:last-of-type .cell:first-of-type {
	--radius: 0px 0px 0px 4px;
}

.cell {
	--color: transparent;
}
.cell:is(.cell.correct, .cell.incorrect, .cell.misplaced) {
	color: white;
	background: var(--color);
	border-color: var(--color);
}
.cell.correct {
	--color: var(--color-success);
}
.cell.incorrect {
	--color: var(--color-gray-300);
}
.cell.misplaced {
	--color: var(--color-warning);
}

.guess-input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.guess-input-wrapper label {
	font-size: var(--fs-2);
}

.guess-input-wrapper input {
	display: block;
	width: 100%;
	font-size: var(--fs-3);
	border: 2px solid var(--color-gray-300);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	outline-offset: 4px;
}

.guess-input-wrapper input[disabled] {
	opacity: 0.25;
	background-color: var(--color-gray-300);
}

.guess-input-wrapper .count {
	font-size: var(--fs-1);
}

.guess-input-wrapper .count span {
	font-weight: 700;
}

.guess-input-wrapper .count span.neuter {
	color: var(--color-gray-300);
}

.guess-input-wrapper .count span.less {
	color: var(--color-warning);
}

.guess-input-wrapper .count span.exact {
	color: var(--color-success);
}

.guess-input-wrapper .count span.more {
	color: var(--color-error);
}

.guess-input-wrapper .error {
	font-size: var(--fs-1);
	color: var(--color-error);
}

.banner {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 32px;
	text-align: center;
	animation: slideDown 750ms cubic-bezier(0, 0.72, 0.24, 1.02);
	border-radius: 0px 0px 4px 4px;
	will-change: transform;
	color: white;
	z-index: 1;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

.happy.banner {
	background: var(--color-success);
}

.sad.banner {
	background: var(--color-error);
}

.banner button {
	padding: 0.5em 1em;
	border: 1px solid white;
	margin-top: 1em;
	border-radius: 0.5em;
	font-size: var(--fs-2);
}

.keyboard {
	--gap: 0.5rem;
	display: grid;
	gap: var(--gap);
}

.keyboard > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--gap);
}

.keyboard span {
	padding: 0.5em 0.75em;
	border-radius: 0.25em;
	background-color: var(--color-gray-900);
	font-size: var(--fs-1);
}

.keyboard span:is(.correct, .misplaced, .incorrect) {
	color: white;
}

.keyboard span.correct {
	background-color: var(--color-success);
}
.keyboard span.misplaced {
	background-color: var(--color-warning);
}
.keyboard span.incorrect {
	background-color: var(--color-gray-300);
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
